# Environment and Secrets
.env
.env.local
.env.*.local
.properties.local

# Build and Dependencies
HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### IDE ###
.idea/
.vscode/
.DS_Store
*.iws
*.iml
*.ipr
*.sublime-project
*.sublime-workspace

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Maven ###
*.jar
!bfg-*.jar

### Logs ###
*.log
startup.log
